<h1>Welcome to word counter!</h1>
<form action="/page_here">
  <label for=master_word>Enter a master word:</label>
  <input type="text" name="master_word">
  <label for="search_text">Enter text to search through for occurances of your master word:</label>
  <input type="text" name="search_text">
  <button class="btn btn-success" type="submit">Search!</button>
</form>
